body {
    display: flex;
    flex-direction: column;
}

.first {
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
}

header {
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px

}

.header-logo {
    font-size: 18px;
    padding-left: 30px; 
}

.header-links {
    font-size: 18px;
    padding-right: 30px;
}

